.statistics {
    padding-top: 50px;
}

.title {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

.stat__list {
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.label {
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.percentage {
    font-weight: 700;
    color: white;
    text-align: center;
}